@media (max-width: 1000px) {

    .home-title {
        padding: 260px 0 260px 0;
        text-align: center;
        background-image: url("/images/architecture-1477041_1280.jpg");
        
  
    }

}