@media (max-width: 1160px) {

    .home-title {
        padding: 260px 0 260px 0;
        text-align: center;
        background-image: url("/images/architecture-1477041_1280.jpg");
        background-size: auto;
  
    }

}

@media (max-width: 850px) {

    .authentication {
        height: 200px;
    }

    .authentications{
        display: block;
        width: 100%;
        padding-top: 20px;
    }

    .authentication-newaccount {
        padding-top: 20px;
    }

    .authentication-login {
        padding-top: 30px;
    }
}

@media (max-width: 760px) {

    .home-introduction {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 700px) {
    
    .authentication {
        height: 250px;
    }
}





@media (max-width: 500px) {

}