@media (max-width: 1160px) {

    .home-title {
        padding: 260px 0 260px 0;
        text-align: center;
        background-image: url("/images/architecture-1477041_1280.jpg");
        background-size: auto;
  
    }

}

@media (max-width: 850px) {

    .home-title {
        padding: 150px 0 150px 0;
    }

    .authentication {
        height: 200px;
    }

    .authentications{
        display: block;
        width: 100%;
        padding-top: 20px;
    }

    .authentication-newaccount {
        padding-top: 20px;
    }

    .authentication-login {
        padding-top: 30px;
    }

    .home-introduction {
        padding: 150px 30px 150px 30px;
    }
}

@media (max-width: 760px) {

    .home-title {
        padding: 150px 0 150px 0;
    }

    .home-introduction {
        padding: 150px 30px 150px 30px;
    }
}

@media (max-width: 700px) {

    .authentications {
        padding: 50px 0px 50px 0px;
    }
    
    .authentication {
        height: 250px;
    }
}

@media (max-width: 610px) {

    .home-title {
        padding: 150px 0 150px 0;
    }

    .authenticaiton {
        height: 300px;
    }

    .home-introduction {
        padding: 150px 30px 150px 30px;
    }
}

@media (max-width: 540px) {

    .home-footer-content{
        height: 500px;
    }

    .home-footer-content h2 {
        margin-right: 30px;
        margin-left: 30px;
    }

    .home-footer-twitter{
        height: 300px;
    }

    .home-footer-twitter:hover {
        cursor: pointer;
        border: 0px solid white;
    }
}

@media (max-width: 420px) {

    .home-title-text p {
        padding-right: 95px;
        padding-left: 95px;
    }
}

@media (max-width: 380px) {

    .home-title-text p {
        padding-right: 80px;
        padding-left: 80px;
    }

    .home-footer-content{
        height: 600px;
    }
}