<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title></title>
        <link rel='stylesheet' href='/stylesheets/account.css'/>
        <link rel='stylesheet' href='/stylesheets/'/>
    </head>

    <body>
        <header>
            <h1><%= account_title %></h1>
        </header>

        <main>
            <div class="createAccount">
                <div class="create_text">
                    <p>アカウント新規作成</p>
                </div>

                <div class="create-content">
                    <form action="#" method="POST">
                    <p><label for="name-field">名前</label><br>
                    <input type="text" name="name" id="id-field" class="account-name"></p>

                    <p><label for="pw-field">パスワード</label><br>
                    <input type="password" name="pw" id="pw-field" class="account-password">
                    <input type="password" name="pw" id="pw-field" class="account-password"></p>
                    
                    <p><label for="comment">自己紹介</label><br>
                    <textarea name="comment" id="comment" class="account-introduction"></textarea></p>
                    <p>
                        <input type="submit" value="アカウントを作成する" class="account-bottom">
                    </p>

                </div>
            </div>
        </main>

        <footer>

        </footer>
    </body>
</html>