<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title><%= account %></title>
        <link rel='stylesheet' href='/stylesheets/' />
        <link rel='stylesheet' href='/public/images'/>
        <link rel='stylesheet' href='/stylesheets/'/>
    </head>

    <body>
        
    </body>
</html>