<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title></title>
        <link rel='stylesheet' href='/stylesheets/account-edit.css'/>
        <link rel='stylesheet' href='/stylesheets/responsive/account-edit-responsive.css'/>
    </head>

    <body>
        <header>

        </header>

        <main>

        </main>

        <footer>

        </footer>
    </body>
</html>