<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title></title>
        <link rel='stylesheet' href='/stylesheets/account.css'/>
        <link rel='stylesheet' href='/stylesheets/'/>
    </head>

    <body>
        <header>
            <div class="header-title">
                <h1>Sharechat</h1>
                <p><%= title1 %></p>
                <p><%= title2 %></p>
            </div>
        </header>

        <main>
            <div class="createAccount">
                <div class="create_text">
                    <h3>アカウント新規作成</h3>
                </div>

                <div class="create-content">
                    <form action="#" method="POST">
                        <p><label for="name-field">名前</label><br>
                        <input type="text" name="name" id="id-field" class="account-name"></p>

                        <p><label for="pw-field">パスワード</label><br>
                        <input type="password" name="pw" id="pw-field" class="account-password">
                        <input type="password" name="pw" id="pw-field" class="account-password"></p>
                        
                        <p><label for="comment">自己紹介</label><br>
                        <textarea name="comment" id="comment" class="account-introduction"></textarea></p>
                    
                    <div class="bottoms">
                        <p>
                            <input type="button" value="前のページへ戻る" onclick="history.back()" class="account-bottom">
                        </p>

                        <p>
                            <input type="submit" value="<%= create_bottom %>"  class="account-bottom">
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="account-footer">
                <h2>Sharechat</h2>
            </div>
        </footer>
    </body>
</html>