<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title></title>
        <link rel='stylesheet' href='/stylesheets/chat.css'/>
        <link rel='stylesheet' href='/stylesheets/responsive/chat-responsive.css'/>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>

        <header>
            <div class="header-title">
                <h1><a href="/room/<%= roomid %>/show"><%= roomname %></a></h1>
            </div>
        </header>

        <main>
            <div class="chat">
                <div class="index">



                        <div class="chat-index">
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>


            
                        <div class="chat-index">
        
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>
            
                            <div class="chat-index">
            
                                    <div class="human">
                
                                        <div class="human-img">
                                            <p>
                                                <img src="/images/human.png" width="20" height="20">
                                            </p>
                                        </div>
                
                                        <div class="human-name">
                                            <p>Takatty</p>
                                        </div>
                
                                    </div>
                
                                    <div class="text">
                                        <p>ここはテキスト入りまーーす。</p>
                                    </div>
                
                                    <div class="time">
                                        <p>20:00</p>
                                    </div>
                            </div>
            
                            <div class="chat-index">
            
                                    <div class="human">
                
                                        <div class="human-img">
                                            <p>
                                                <img src="/images/human.png" width="20" height="20">
                                            </p>
                                        </div>
                
                                        <div class="human-name">
                                            <p>Takatty</p>
                                        </div>
                
                                    </div>
                
                                    <div class="text">
                                        <p>ここはテキスト入りまーーす。</p>
                                    </div>
                
                                    <div class="time">
                                        <p>20:00</p>
                                    </div>
                        </div>
            
                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>
            
                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p></p>
                                </div>
            
                                <div class="time">
                                    <p><%= cont %></p>
                                </div>
                        </div>

                        
                </div>

                


                <div class="chat-submit">
                    <div class="submit-field">
                        <div class="text-field">
                            <form id="message_form" name="form">
                                <div class="chat-text">
                                    <input id="input_msg" autocomplete="off" type="text">
                                </div>
                                <div class="chat-button">
                                    <!-- <button>submit</button> -->
                                    <input id="button" type="button" value="submit" onClick="insert('<%= roomid %>')">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <footer>

        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="chat.js"></script>これコメントアウトしたらフロントのエラーが消えた！ -->
        <script>
            let socket = io();
            function insert(num) {
                $.ajax({
                    url: '/chat/' + num,
                    type: 'POST',
                    async: true,
                    dataType: 'text',
                    data: {
                        'text': $('#input_msg').val(),
                    },
                    success: function(result) {
                        console.log('成功！');
                        console.log(result);//ejsつまりこのファイルが返って来てる。
                        socket.emit('message', $('#input_msg').val());//送る。
                        $('#input_msg').val('');
                    },
                    error: function(result) {
                        alert('errorだよ');
                    }
                });
            }
            socket.on('message', (msg) => {
                console.log('フロントでの処理＝' + msg);
            })
        </script>
    </body>

</html>
