<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title></title>
        <link rel='stylesheet' href='/stylesheets/chat.css' />
        <link rel='stylesheet' href='/stylesheets/responsive/chat-responsive.css'/>
    </head>

    <body>

        <header>
            <div class="header-title">
                <h1>Room name</h1>
            </div>
        </header>

        <main>
            <div class="chat">

                <div class="chat-text">

                    <div class="human">

                        <div class="human-img">
                            <p>
                                <img src="/images/human.png" width="80" height="80">
                            </p>
                        </div>

                        <div class="human-name">
                            <p>ここはお名前</p>
                        </div>

                    </div>

                    <div class="text">
                        <p>ここはテキスト入りまーーす。</p>
                    </div>

                    <div class="time">
                        <p>20:00</p>
                    </div>
                </div>


                <div class="chat-submit">
                    <div class="text-submit">

                        <div class="text-field">
                            <form action="URI" method="POST">
                                <div class="chat-text">
                                    <p>
                                        <textarea type="chat-text"></textarea>
                                    </p>
                                </div>

                                <div class="text-submit">
                                    <p>
                                        <input type="submit" value="送信">
                                    </p>
                                </div>
                            </form>
                        </div>
    
                    </div>
                </div>

            </div>
        </main>

        <footer>

        </footer>
      
    </body>

</html>
