<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title></title>
        <link rel='stylesheet' href='/stylesheets/chat.css'/>
        <link rel='stylesheet' href='/stylesheets/responsive/chat-responsive.css'/>
    </head>

    <body>

        <header>
            <div class="header-title">
                <h1>Room name</h1>
            </div>
        </header>

        <main>
            <div class="chat">
                <div class="index">



                        <div class="chat-index">
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>


            
                        <div class="chat-index">
        
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>
            
                            <div class="chat-index">
            
                                    <div class="human">
                
                                        <div class="human-img">
                                            <p>
                                                <img src="/images/human.png" width="20" height="20">
                                            </p>
                                        </div>
                
                                        <div class="human-name">
                                            <p>Takatty</p>
                                        </div>
                
                                    </div>
                
                                    <div class="text">
                                        <p>ここはテキスト入りまーーす。</p>
                                    </div>
                
                                    <div class="time">
                                        <p>20:00</p>
                                    </div>
                            </div>
            
                            <div class="chat-index">
            
                                    <div class="human">
                
                                        <div class="human-img">
                                            <p>
                                                <img src="/images/human.png" width="20" height="20">
                                            </p>
                                        </div>
                
                                        <div class="human-name">
                                            <p>Takatty</p>
                                        </div>
                
                                    </div>
                
                                    <div class="text">
                                        <p>ここはテキスト入りまーーす。</p>
                                    </div>
                
                                    <div class="time">
                                        <p>20:00</p>
                                    </div>
                        </div>
            
                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>
            
                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        <div class="chat-index">
            
                                <div class="human">
            
                                    <div class="human-img">
                                        <p>
                                            <img src="/images/human.png" width="20" height="20">
                                        </p>
                                    </div>
            
                                    <div class="human-name">
                                        <p>Takatty</p>
                                    </div>
            
                                </div>
            
                                <div class="text">
                                    <p>ここはテキスト入りまーーす。</p>
                                </div>
            
                                <div class="time">
                                    <p>20:00</p>
                                </div>
                        </div>

                        
                </div>

                


                <div class="chat-submit">
                    <div class="submit-field">

                        <div class="text-field">


                            <!-- <form>
                                <div class="chat-text">
                                    <textarea type="chat-text"></textarea>
                                </div>

                                <div class="text-submit">
                                    <input type="submit" value="送信">
                                </div>
                            </form> -->
                            <form id="message_form" action="#">
                                <input id="input_msg" autocomplete="off" /><button>Send</button>
                            </form>


                        </div>
                    </div>
                </div>

            </div>
        </main>

        <footer>

        </footer>
        
        <script>
        </script>
    </body>

</html>
