<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title><%= home_title %></title>
        <link rel='stylesheet' href='/stylesheets/home.css' />
        <link rel='stylesheet' href='../public/images'
    </head>

    <body>

        <header>
            <div class="home-title">
                <h1><%= home_title %></h1>
                <p>これはシェアハウス専用のチャットアプリです</p>
            </div>
        </header>

        <body>
            <div class="authentication">
                <div class="authentications">
                    <div class="authentication-newaccount">
                        <button>アカウント新規作成</button>
                    </div>
                    <div class="authentication-login">
                        <button>ログイン</button>
                    </div>
                </div>
            </div>

            <div class="home-introduction">
                <p>このアプリでは、各シェアハウスでのグループを作りそれぞれでチャットする事が可能です。<br>
                    グループ作成やチャットを始めるには、アカウントを作りログインする必要があります。<br>
                    まだの方は是非ログインしてチャットに参加しましょう！</p>
            </div>

            <div class="authentication">
                <div class="authentications">
                    <div class="authentication-newaccount">
                        <button>アカウント新規作成</button>
                    </div>
                    <div class="authentication-login">
                        <button>ログイン</button>
                    </div>
                </div>
            </div>

        </body>

        <footer>
            <div class="home-footer">
                <div class="home-footer-content">
                    <h2>質問があれば、こちらまでご連絡下さい！</h2>
                    <div class="home-footer-twitter">
                        <a  href="https://twitter.com/R9rT9t" target="_blank">
                            <img src="images/13.29.39.png" width="200" height="200">
                        </a>
                        <p>
                            <a  href="https://twitter.com/R9rT9t" target="_blank">Twitter</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
      
    </body>

</html>
