<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title><%= home_title %></title>
        <link rel='stylesheet' href='/stylesheets/home.css' />
    </head>

    <body>

        <header>
            <div class="home-title">
                <h1>Sharechat</h1>
                <p>これはシェアハウス専用のチャットアプリです</p>
            </div>
        </header>

        <body>
            <div class="authentication">
                <div class="authentications">
                    <div class="authentication-newaccount">
                        <button>アカウント新規作成</button>
                    </div>
                    <div class="authentication-login">
                        <button>ログイン</button>
                    </div>
                </div>
            </div>

            <div class="home-introduction">
                <p>このアプリでは、各シェアハウスでのグループを作りそれぞれでチャットする事が可能です。</p>
            </div>

            <div class="authentication">
                <div class="authentications">
                    <div class="authentication-newaccount">
                        <button>アカウント新規作成</button>
                    </div>
                    <div class="authentication-login">
                        <button>ログイン</button>
                    </div>
                </div>
            </div>

        </body>

        <footer>
            <div class="home-footer">
                <div class="home-footer-content">
                    <h2>質問があれば、こちらまでご連絡下さい！</h2>
                    <img src="" width="" height="">
                    <p>Twitter</p>
                </div>
            </div>
        </footer>
      
    </body>

</html>
