<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title></title>
        <link rel='stylesheet' href='/stylesheets/profile.css'/>
        <link rel='stylesheet' href='/stylesheets/responsive/profile-responsive.css'/>
    </head>

    <body>
        <header>
            <div class="header-title">
                <h1>Room name</h1>
                <p>このページは、プロフィールページです。</p>
            </div>
        </header>

        <main>
            <div class ="profile">
                <div class="profile-content">

                    <div class="profile-title">
                        <p>プロフィール</p>
                    </div>

                    <div class="profile-text">
                        <div class="profile-human">
                            <div class="profile-img">
                                <p>
                                    <img src="/images/human.png" width="100" height="100">
                                </p>
                            </div>
                            <div class="profile-name">
                                <p>ここに名前が入る。</p>
                            </div>
                        </div>

                        <div class="profile-si">
                            <div class="si" width="100" height="100">
                                <p>自己紹介</p>
                            </div>
                            <div class="si-text">
                                <p>ここに自己紹介のコメントが入る。</p>
                            </div>
                        </div>

                        <div class="bottom">
                            <p>
                                <input type="button" value="<%= bottom %>"  class="account-bottom">
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <footer>

        </footer>
    </body>
</html>