<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title></title>
        <link rel='stylesheet' href='/stylesheets/room-login.css' />
        <link rel='stylesheet' href='/stylesheets/responsive/room-login-responsive.css'/>
    </head>

    <body>

        <header>
            <div class="header_title">
                <h1>Room Name</h1>
                <p>このページで、パスワードを入力してRoomに参加しよう！</p>
            </div>
        </header>

        <main>
            <div class="room">
                <div class="room_content">

                    <div class="room_show">
                        <h3>Roomの紹介</h3>
                    </div>

                    <div class="room_text">
                        <div class="room_memo">
                            <p class="room_memo_text">ここはRoomの紹介文です。</p>
                            <p class="room_memo_field">Soraハウスです。</p>
                        </div>
                        <div class="room_pass">
                            <p class="room_pass_text"><label for="room_pass_text">ここはRoomのパスワード記入欄です。</label>
                            <input type="password" name="pw" id="pw-fiels" class="room_pass_field"></p>
                        </div>
                    </div>

                    <div class="join_bottoms">
                        <p>
                            <input type="button" value="前のページへ戻る" onclick="history.back()">
                        </p>

                        <p>
                            <input type="button" value="参加する">
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <footer>

        </footer>
      
    </body>

</html>
