<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Takatty">
        <meta name="title" content="Sharechat">
        <title></title>
        <link rel='stylesheet' href='/stylesheets/room_login.css' />
        <link rel='stylesheet' href='/stylesheets/responsive/room_login_responsive.css'/>
    </head>

    <body>

        <header>
            <div class="header_title">
                <h1>Room_Name</h1>
                <p>このページで、パスワードを入力してRoomに参加しよう！</p>
            </div>
        </header>

        <main>
            <div class="room">
                <div class="room_content">

                    <div class="room_show">
                        <p>Roomの紹介</p>
                    </div>

                    <div class="room_text">
                        <div class="room_memo">
                            <p>ここはRoomの紹介文が入ります。</p>
                        </div>
                        <div class="room_pass">
                            <p>ここにRoomのパスワードが入ります。</p>
                        </div>
                    </div>

                    <div class="join_bottons">
                        <p>
                            <input type="button" value="前のページへ戻る" onclick="history.back()">
                        </p>

                        <p>
                            <input type="button" value="参加する">
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <footer>

        </footer>
      
    </body>

</html>
