@charset "utf-8";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-title {
    padding: 20px 50px 20px 50px;
    background-color: rgb(186, 240, 253);
    text-align: center;
}

.createAccount {
    height: 500px;
    text-align: center;
    background-color: rgb(255, 227, 249);
}

.create_text h3 {
    margin-top: 0px;
    padding-top: 20px;
}

.create-content {
    padding: 0 450px 0 450px;
}

input, textarea {
    box-sizing: border-box;
    font-size: 15px;
    margin: 5px 0;
    border: 2px solid #ccc;
}

textarea {
    padding: 10px;
    height: 100px;
    width: 100%;
}

.bottoms {
    /* padding: 0px 450px 0px 450px; */
    display: flex;
    justify-content: space-between;
}

.account-footer {
    text-align: center;
    background-color: rgb(251, 208, 255);
    height: 115px;
}

.account-footer h2 {
    margin-top: 0px;
    padding-top: 20px;
}