@charset "utf-8";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-title {
    padding: 50px 50px 50px 50px;
    background-color: rgb(186, 240, 253);
    text-align: center;
}

.createAccount {
    height: 400px;
    text-align: center;
    background-color: rgb(255, 227, 249);
}

.account-footer {
    text-align: center;
    background-color: rgb(251, 208, 255);
    height: 100px;
}