@charset "utf-8";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(251, 230, 255);
}

.header-title h1 {
    display: inline-block;
    color: rgb(255, 22, 236);
    border-bottom: 2px solid rgb(78, 78, 78);
}

.success_text {
    height: 80px;
    padding-top: 20px;
    background-color: rgb(194, 203, 255);
    text-align: center;
}

.success_text h3 {
    display: inline-block;
    margin-top: 0px;
}

.success_content {
    height: 585px;
    text-align: center;
    background-color: rgb(255, 183, 183);
}

.content {
    padding-top: 50px;

}

.user_content img {
    border-radius: 50%;
    background-color: white;
}

.user_content p {
    padding-top: 10px;
}

.show_room {
    padding-top: 30px;
}

button {
    width: 300px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(199, 229, 255);
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}       
