@charset "utf-8";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-title {
    padding: 15px 400px 20px 400px;
    text-align: center;
    border-bottom:1px solid #ccc; 
}

.header-title p {
    margin: 0px 0px 0px 0px;
}

.createAccount {
    height: 525px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.create_text h3 {
    margin-top: 0px;
    padding-top: 20px;
    color: black;
}

.create-content {
    padding: 0 400px 0 400px;
}

.create-content p {
    border-top: 2px solid rgb(114, 114, 114);
    padding-top: 5px;
}

input {
    padding-top: 5px;
}

input, textarea {
    box-sizing: border-box;
    font-size: 15px;
    margin: 5px 0;
    border: 1px solid rgb(97, 97, 97);
}

textarea {
    padding: 10px;
    height: 100px;
    width: 100%;
}

.bottoms {
    display: flex;
    justify-content: space-between;
}

.bottoms p {
    border-top: 2px solid white;
}

.account-footer {
    text-align: center;
    height: 100px;
    border-top: 1px solid #ccc;
}

.account-footer h2 {
    margin-top: 0px;
    padding-top: 20px;
}