@charset "utf-8";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

p {
    color: rgb(242, 184, 250);
  }
  
.header-title {
    padding: 180px 0 180px 0;
    background-color: rgb(188, 253, 255);
}

.header-title h1 {
    color: white;
}