@charset "utf-8";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-title {
    padding-top: 5px; 
    padding-bottom: 10px;
    text-align: center;
    border-bottom:1px solid #ccc; 
    background-color: rgb(251, 230, 255);
}

.header-title h1 {
    color: rgb(255, 22, 236);
    display: inline-block;
    border-bottom: 2px solid rgb(78, 78, 78);
    margin: 10px 0;
}

.profile {
    padding-top: 20px;
}

.profile-content {
    margin: 0 200px;
    text-align: center;
    border: 2px solid #ccc;

}

.profile-title p {
    margin-top: 0;
    margin: 30px 0;
    display: inline-block;
    border-bottom: 2px solid #ccc;
}

.profile-human {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 2px solid #ccc;
}

.profile-name {
    background-color: bisque;
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 30px;
}

.profile-name p {
    padding-left: 15px;
    text-align: center;
    width: 100%;
}

.profile-si {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.si {
    display: flex;
    align-items: center;
}

.si-text {
    background-color: bisque;
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 30px;
}

.si-text p {
    padding-left: 15px;
    text-align: center;
    width: 100%;
}

.buttom {
    display: flex;
    justify-content: space-around;
}

.bottom input{
    font-size: 15px;
    margin: 5px 0;
    border: 1px solid rgb(97, 97, 97);
    height: 50px;
    width: 200px;
    border-radius: 20px;
}

.buttom input:hover {
    cursor: pointer;
    opacity: 0.8;
}