@charset "utf-8";

*{
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-title {
    padding-top: 10px; 
    padding-bottom: 40px;
    text-align: center;
    border-bottom:1px solid #ccc; 
    background-color: rgb(251, 230, 255);
}

.header-title h1 {
    color: rgb(255, 22, 236);
    display: inline-block;
    border-bottom: 2px solid rgb(78, 78, 78);
}

.header-title p {
    margin: 0px 0px 0px 0px;
}

.room {
    background-color: azure;
}

.room-content {
    margin: 0 350px 30px 350px;
}

.room-show h3 {
    display: inline-block;
    margin-top: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-top: 20px;
}

.room-text {
    border-top: 2px solid #ccc;
    margin-top: 10px;
}


.room-memo-text {
    margin-bottom: 5px;
}

.room-memo-field {
    display: inline-block;
    background-color: white;
    width: 90%;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    border: 2px solid #ccc;
}

.room-pass {
    border-top: 2px solid #ccc;
}

.room-pass-field {
    box-sizing: border-box;
    background-color: white;
    width: 90%;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
}

.join-bottoms {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.join-bottoms input {
    font-size: 15px;
    margin: 5px 0;
    border: 1px solid rgb(97, 97, 97);
    height: 50px;
    width: 200px;
    border-radius: 20px;
}