@charset "utf-8";

*{
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header_title {
    background-color: yellow;
    border-bottom:1px solid #ccc; 
}

.header_title h1 {
    color: rgb(255, 22, 236);
    display: inline-block;
    border-bottom: 2px solid rgb(78, 78, 78);
    margin-bottom: 10px;
}

.header_title p {
    margin-top: 10px;
    margin-bottom: 15px;
}

.create_room {
    border-bottom: 3px solid #ccc;
}

button {
    width: 200px;
    height: 50px;
    background-color: rgb(167, 255, 251);
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.room_content {
    background-color: rgb(252, 198, 198);
}

.room_index {
    margin: 0 250px 5px 250px;
    background-color: white;
    border-bottom: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}

.room_index p {
    display: inline-block;
    border-bottom: 2px solid rgb(78, 78, 78);
}

.room_name p {
    display: flex;
    border-bottom: 0px solid rgb(73, 72, 72);
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
}

.room_name a {
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #ccc;
    margin: 10px;
    background-color: rgb(105, 225, 255);
}

.room_name a:hover {
    cursor: pointer;
    opacity: 0.5;
}